.c-footer {
  &__logo {
    margin-top: 110px;
  }

  &__title {
    @include typo-body-16;
    font-weight: 700;
    color: $color-black;
    margin-top: 50px;
  }

  &__adress {
    @include typo-body-16;
    color: $color-dark-grey;
    margin: 12px 0 108px;
  }
}
