@import "../mixins/index";
@import "../variables/index";

.c-header {
  $root: &;
  $height: 49px;
  display: none;
  position: relative;
  z-index: 10;

  @include media-up(lg) {
    display: block;
    $height: 24px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 74px;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: auto;

    a {
      display: inline-flex;
      align-items: center;

      img {
        margin: 0;
        display: block;
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-right: 19px;
  }

  &__language-select {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-items: center;

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &__link {
    @include typo-body-14;
    height: $height;
    text-decoration: none;
    color: $color-black;
    @include animate-transition(color);
    display: flex;
    align-items: center;
    padding: 0 31px;

    &:hover,
    &.is-active {
      color: $color-blue;
    }
  }

  &__lang {
    display: flex;
    align-items: center;
    justify-items: center;

    &:after {
      width: 2px;
      height: 18px;
      background: $color-dark-grey;
      opacity: 0.6;
      content: "";
      display: block;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &__link-lang {
    padding: 0 7px;
    display: flex;
    align-items: center;
    justify-items: center;
    @include typo-body-14;
    color: $color-dark-grey;
    text-decoration: none;
    @include animate-transition(color);

    &--active {
      color: $color-blue;
    }

    &:hover {
      color: $color-blue;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.c-mobile-header {
  $root: &;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: $color-white;

  @include media-up(lg) {
    display: none;
  }

  &__inner-body {
    height: 100%;
    position: relative;
  }

  &__body {
    display: block;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: auto;
    opacity: 0;
    background-color: $color-white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include animate-transition-no-media(opacity, visibility);

    .container {
      min-height: 100%;
      height: 100%;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
    z-index: 1;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    flex: none;

    a {
      display: inline-flex;
      align-items: center;

      img {
        margin: 0;
        display: block;
      }
    }
  }

  &__flex {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;
  }

  &__toggle {
    flex: none;
    user-select: none;
    cursor: pointer;
    margin-left: auto;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
    }
  }

  &__link {
    display: block;
    padding: 25px 0;
    text-align: center;
    @include typo-body-16;
    text-decoration: none;
    &:hover,
    &.is-active {
      color: $color-blue;
    }
  }

  &__item {
    border-top: 1px solid rgba($color-grey, 0.5);

    &:first-child {
      border-top: none;
    }
  }

  &__actions {
    margin-bottom: 30px;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__social-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    flex: none;
    color: $color-black;

    &:last-child {
      margin-right: 0;
    }

    .c-icon {
      @include animate-transition(background-color);
      width: 20px;
      height: 20px;
    }

    &:hover {
      .c-icon {
        background-color: $color-blue;
      }
    }
  }

  &.is-opened {
    #{$root} {
      &__body {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
