.u-h-full {
  min-height: 100%;
}

.u-mb {
  margin-bottom: 20px;

  &-wrap {
    margin-bottom: -20px;
  }
}

.u-mb-g {
  margin-bottom: 30px;

  &-wrap {
    margin-bottom: -30px;
  }
}

.u-text-center {
  text-align: center !important;
}

.u-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
