@import "../../mixins/index";
@import "../../variables/index";

&--base {
  margin-top: 16px;

  #{$root} {
    &__inner {
      @include media-down(md) {
        margin: 0;
      }
      margin-top: 150px;
    }

    &__title {
      @include typo-body-h1;
      color: $color-main;
      margin: 0;
      margin-bottom: 80px;

      @include media-down(md) {
        display: none;
      }
    }

    &__subtitle {
      @include typo-body-16;
      color: $color-dark-grey;
      padding-right: 10px;

      @include media-down(md) {
        text-align: left;
        @include typo-mobile-h2;
        font-weight: 400;
        width: 256px;
        height: auto;
        margin: 0 auto;
        margin-top: 32px;
        margin-left: 32px;
        margin-bottom: 32px;
      }
    }

    &__contact {
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      @include media-down(md) {
        display: none;
      }
    }

    &__phone {
      text-align: right;
      text-decoration: none;
      color: $color-main;
      @include typo-body-h2;
      @include animate-transition(color);
      margin-right: 42px;
      &:hover {
        color: $color-blue;
      }
    }

    &__email {
      text-align: center;
      text-decoration: none;
      color: $color-black;
      @include typo-body-20;
      font-weight: 400;
      @include animate-transition(color);
      margin-left: 15px;
      margin-top: 7px;

      &:hover {
        color: $color-blue;
      }
    }

    &__icon {
      margin-right: 12px;
    }

    &__images {
      position: relative;
      margin-left: 65px;
      margin-top: 87px;
      max-width: 475px;
      width: 100%;
      height: 425px;
      display: block;
      overflow: hidden;
      user-select: none;
      pointer-events: none;

      @include media-down(md) {
        margin: 0 auto;
        width: 321px;
        height: auto;
        width: 100%;
        margin-top: -7px;

        &:before {
          content: "Доставляем грузы по всему ЕС в любую точку";
          @include typo-mobile-h1;
          display: block;
          width: 261px;
          height: 87px;
          color: $color-white;
          position: absolute;
          left: 32px;
          top: 50%;
        }
      }
    }
  }
}
